<h3>Useful Links</h3>
<ul>
    <li><a href="https://bitbucket.org/isaiah1112/sshreader/src" target="_blank">sshreader @ Bitbucket</a></li>
    <li><a href="https://pypi.python.org/pypi/sshreader/" target="_blank">sshreader @ PyPi</a></li>
    <li><a href="https://bitbucket.org/isaiah1112/sshreader/issues" target="_blank">Issue Tracker</a></li>
</ul>
<h3>Other Info</h3>
<ul>
    <li><a href="http://choosealicense.com/licenses/lgpl-3.0/" target="_blank">License Text</a></li>
    <li><a href="http://www.jacomputing.net" target="_blank">JA Computing</a></li>
</ul>
